@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-3">
    <form class="row row-cols-sm-auto g-3 align-items-center">
  
  <div class="col-12">
    <label class="visually-hidden" for="inlineFormSelectPref">Genres</label>
    <select class="form-select" id="genreId">
      <option selected>Genre...</option>
      <option value="1">Action</option>
      <option value="2">Horror</option>
      <option value="3">Romance</option>
      <option value="3">ScienceFiction</option>
    </select>
  </div>

  <div class="col-12">
    <label class="visually-hidden" for="inlineFormInputGroupUsername">Search by title</label>
    <div class="input-group">
      <div class="input-group-text"></div>
      <input type="text" class="form-control" id="" placeholder="Search by title">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
</div>

<div class="w-100 d-flex flex-wrap">
    @for (int i = 0; i < 7; i++)
    {
       <div class="card mx-2 mb-2 text-white bg-primary mb-3" style="width: 20rem;">
            <img src="https://picsum.photos/300/80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Book title</h5>
        <p class="card-text">
				Author:
                Price:
        </p>
        <a href="#" class="btn btn-success">Add to cart</a>
      </div>
    </div> 
    }
    
</div>